@model EfDemo.Models.AuthorsModel

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <table>
        @foreach (var author in Model.Authors)
        {
            <tr>
                <td>
                    @Html.ActionLink(author.Name, "BooksByAuthor", new {id=author.Id})
                </td>
                <td>
                    @author.YearOfBirth
                </td>
            </tr>
        }
    </table>
</div>

